body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  background-color: #a79d9b;
}

.container {
  margin: 2vw;
  width: 100%;
  height: 100vh;
  background-color: #212121;
}
